<div class="logo">
  <a [routerLink]="['/panel/dashboard']" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/logo_tortilleria.png" />
    </div>
  </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <li routerLinkActive="active" class="item nav-item">
        <a class="nav-link" [routerLink]="['/panel/perfil']">
          <mat-icon svgIcon="account" matListIcon class="icon-style"></mat-icon>
          <p>Perfil</p>
        </a>
      </li>
      <li routerLinkActive="active" class="item nav-item">
        <a class="nav-link" [routerLink]="['/panel/notificaciones']">
          <mat-icon svgIcon="bell" matListIcon class="icon-style"></mat-icon>
          <p>Notificaciones</p>
        </a>
      </li>
    </ul>
    <hr>
  </div>
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="item nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <mat-icon svgIcon="{{ menuItem.icon }}" matListIcon class="icon-style"></mat-icon>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
