<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="title">Productos</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <button class="btn main-button" (click)="openProductDialog(false, '')">
          <span>Agregar</span>
        </button>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="search-container">
          <mat-form-field>
            <input matInput type="text" placeholder="Buscar" (keyup)="searchProduct($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="table-responsive">
          <mat-table class="table" [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef class="cell-title" mat-sort-header>Nombre</mat-header-cell>
              <mat-cell *matCellDef="let product">
                <span class="mobile-label cell-title">Nombre:</span>
                {{ product.name }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef class="cell-title" mat-sort-header>Precio</mat-header-cell>
              <mat-cell *matCellDef="let product">
                <span class="mobile-label cell-title">Precio:</span>
                ${{ product.price }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef class="cell-title" mat-sort-header>Status</mat-header-cell>
              <mat-cell *matCellDef="let product">
                <span class="mobile-label cell-title">Status:</span>
                <span [class.active]="product.status"
                  [class.inactive]="!product.status" (click)="changeProductStatus(product)" >
                  {{ product.status ? 'Activo' : 'Inactivo' }}
                </span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="options">
              <mat-header-cell *matHeaderCellDef class="cell-title">Opciones</mat-header-cell>
              <mat-cell *matCellDef="let product">
                <span class="mobile-label cell-title">Opciones:</span>
                <mat-icon matIcon svgIcon="pencil" class="option-icon"
                  (click)="openProductDialog(true, product)"></mat-icon>
              </mat-cell>
            </ng-container>
            <tr>
              <mat-header-row *matHeaderRowDef="productColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: productColumns"></mat-row>
            </tr>
          </mat-table>
          <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30, 40, 50, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
