<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 mat-dialog-title>Descripción</h2>
  </div>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p id="description">
        {{ data.description }}
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12" id="button-container">
    <button class="btn main-button" [mat-dialog-close]="true">
      <span>Aceptar</span>
    </button>
  </div>
</div>
