<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h1 mat-dialog-title>{{ data.edit ? 'Actualizar producto' : 'Agregar producto' }}</h1>
  </div>
</div>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required>
          <mat-icon matSuffix class="icon-color" svgIcon="rename-box"></mat-icon>
          <mat-error *ngFor="let validation of validationMessages.name">
            <mat-error class="error-message"
              *ngIf="productForm.get('name').hasError(validation.type)
                && (productForm.get('name').dirty || productForm.get('name').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field>
          <mat-label>Precio</mat-label>
          <input currencyMask formControlName="price" matInput required/>
          <mat-error *ngFor="let validation of validationMessages.price">
            <mat-error class="error-message"
              *ngIf="productForm.get('price').hasError(validation.type)
                && (productForm.get('price').dirty || productForm.get('price').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12" id="button-container">
    <button class="btn back-button" [mat-dialog-close]="true">
      <span>Cancelar</span>
    </button>
    <button class="btn main-button" (click)="data.edit ? update() : store()"
      [disabled]="!productForm.valid">
      <span>Guardar</span>
    </button>
  </div>
</div>
