<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card card-stats detail">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon isGreen">
            <mat-icon svgIcon="sale"></mat-icon>
          </div>
          <p class="card-category">VENTAS</p>
          <h1 class="card-title">{{ details.sales }}</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card card-stats detail">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon isBlue">
            <mat-icon svgIcon="moped"></mat-icon>
          </div>
          <p class="card-category">REPARTIDORES</p>
          <h1 class="card-title">{{ details.employees }}</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-stats detail">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon isGreen">
            <mat-icon svgIcon="account-group"></mat-icon>
          </div>
          <p class="card-category">CLIENTES</p>
          <h1 class="card-title">{{ details.customers }}</h1>
        </div>
      </div>
    </div>
  </div>
    <div class="row" id="chartContainer">
      <div class="col-lg-5 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header card-chart card-header-warning isBlue">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h3 class="card-title">VENTAS POR DIA</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header card-chart card-header-warning isGreen">
            <div class="ct-chart" id="dailyDeliveriesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">ENTREGAS POR DIA</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
