<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h1 mat-dialog-title>Cambiar contraseña</h1>
  </div>
</div>
<div mat-dialog-content>
  <form [formGroup]="recoveryPasswordForm">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field>
          <input matInput formControlName="password" placeholder="Contraseña anterior" required type="password">
          <mat-icon matSuffix class="icon-color">lock</mat-icon>
          <mat-error *ngFor="let validation of validationMessages.password">
            <mat-error class="error-message"
              *ngIf="recoveryPasswordForm.get('password').hasError(validation.type)
                && (recoveryPasswordForm.get('password').dirty || recoveryPasswordForm.get('password').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field>
          <input matInput formControlName="newPassword" placeholder="Contraseña nueva" required type="password">
          <mat-icon matSuffix class="icon-color">lock</mat-icon>
          <mat-error *ngFor="let validation of validationMessages.newPassword">
            <mat-error class="error-message"
              *ngIf="recoveryPasswordForm.get('newPassword').hasError(validation.type)
                && (recoveryPasswordForm.get('newPassword').dirty || recoveryPasswordForm.get('newPassword').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12" id="button-container">
    <button class="btn back-button" [mat-dialog-close]="true">
      <span>Cancelar</span>
    </button>
    <button class="btn main-button" (click)="changePassword()"
      [disabled]="!recoveryPasswordForm.valid">
      <span>Guardar</span>
    </button>
  </div>
</div>
