<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h1 class="title">Devoluciones</h1>
        </div>
      </div>
      <div class="row">
        
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="search-container">
            <mat-form-field>
              <input matInput type="text" placeholder="Buscar" (keyup)="searchDevolution($event.target.value)">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="table-responsive">
            <mat-table class="table" [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="employee">
                <mat-header-cell *matHeaderCellDef class="cell-title" mat-sort-header>Empleado</mat-header-cell>
                <mat-cell *matCellDef="let devolution">
                  {{ devolution.sale.assignment.assignment.employees.name }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="customer">
                <mat-header-cell *matHeaderCellDef class="cell-title" mat-sort-header>Cliente</mat-header-cell>
                <mat-cell *matCellDef="let devolution">
                    {{ devolution.sale.assignment.assignment.customers.name }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="product">
                <mat-header-cell *matHeaderCellDef class="cell-title" mat-sort-header>Product</mat-header-cell>
                <mat-cell *matCellDef="let devolution">
                    {{devolution.product.name}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef class="cell-title" mat-sort-header>Cantidad</mat-header-cell>
                <mat-cell *matCellDef="let devolution">
                    {{devolution.quantity}}
                </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef class="cell-title">Opciones</mat-header-cell>
                <mat-cell *matCellDef="let devolution">
                  <mat-icon matIcon svgIcon="comment-eye" class="option-icon"
                  (click)="openDevolutionDialog(devolution)"></mat-icon> <!--Añadir evento-->
                </mat-cell>
              </ng-container>
              <tr>
                <mat-header-row *matHeaderRowDef="devolutionsColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: devolutionsColumns"></mat-row>
              </tr>
            </mat-table>
            <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30, 40, 50, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  
  