<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="title">Clientes</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <button class="btn main-button" (click)="openCustomerDialog(false, '')">
          <span>Agregar</span>
        </button>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="search-container">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Buscar"
              (keyup)="searchCustomer($event.target.value)"
            />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="table-responsive">
          <mat-table
            class="table"
            [dataSource]="dataSource"
            class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef class="cell-title"> Cliente </mat-header-cell>
              <mat-cell *matCellDef="let customer">
                <span class="mobile-label cell-title">Cliente:</span>
                {{ customer.name }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phone">
              <mat-header-cell *matHeaderCellDef class="cell-title"> Telefono </mat-header-cell>
              <mat-cell *matCellDef="let customer">
                <span class="mobile-label cell-title">Teléfono:</span>
                {{ customer.phone }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef class="cell-title"> Status </mat-header-cell>
              <mat-cell *matCellDef="let customer">
                <span class="mobile-label cell-title">Status:</span>
                <span
                  [class.active]="customer.is_active"
                  [class.inactive]="!customer.is_active"
                  (click)="changeCustomerStatus(customer)"
                >
                  {{ customer.is_active ? "Activo" : "Inactivo" }}
                </span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="options">
              <mat-header-cell *matHeaderCellDef class="cell-title"
                >Opciones</mat-header-cell
              >
              <mat-cell *matCellDef="let customer">
                <span class="mobile-label cell-title">Opciones:</span>
                <mat-icon
                  matIcon
                  svgIcon="pencil"
                  class="option-icon"
                  (click)="openCustomerDialog(true, customer)"
                ></mat-icon>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="customerColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: customerColumns"></mat-row>
          </mat-table>
          <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30, 40, 50, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
