/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-focused .mat-form-field-label {
  color: #3ABB67 !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #3ABB67 !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #3ABB67 !important;;
}

::ng-deep .mat-form-field-label{
  color:#3ABB67 !important;
}

.back-button {
  background-color: white;
  color: black;
}

.back-button:focus {
  background-color: white;
  color: black;
}

.main-button {
  background-color: #2A4365;
  color: white;
}

.main-button:focus {
  background-color: #2A4365;
  color: white;
}

.main-button:hover {
  background-color: #2A4365;
  color: white;
}


.icon-color {
  color: rgba(0, 0, 0, 0.54);
}
