/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-focused .mat-form-field-label {
  color: #3ABB67 !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #3ABB67 !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #3ABB67 !important;;
}

::ng-deep .mat-form-field-label{
  color:#3ABB67 !important;
}

.back-button {
  background-color: white;
  color: black;
}

.back-button:focus {
  background-color: white;
  color: black;
}

.main-button {
  background-color: #2A4365;
  color: white;
}

.main-button:focus {
  background-color: #2A4365;
  color: white;
}

.main-button:hover {
  background-color: #2A4365;
  color: white;
}

.icon-button {
  background-color: white;
  color: black;
  min-width: 50px;
  border: solid 1px white;
  padding: 0px;
  max-height: 50px;
}

.icon-button:focus {
  background-color: white;
  color: black;
}

.icon-color {
  color: rgba(0, 0, 0, 0.54);
}

.option-icon {
  width: 25px;
  margin-bottom: 4px;
  margin-top: 4px;
  cursor: pointer;
}

mat-cell{
  display:flex !important;
  justify-content:center!important;

}

.table-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}

.cell-title {
  font-size: 13px;
  color: black !important;
}

mat-header-cell {
  display:flex;
  justify-content:center;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

.table {
  width: 100%;
  margin-bottom: 0px !important;
  color: #212529;
}

@media(max-width: 600px) {
  .cell-title {
    color: #3ABB67 !important;
  }

  .mobile-label {
    width: 80px;
    display: inline-block;
    font-size: 15px;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

.title {
  color: black;
}

.active {
  color: #2EA959;
  cursor: pointer;
}

.inactive {
  color: #FF0742;
  cursor: pointer;
}

.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: .25em;
  background: initial;
  color: black !important;
  background: white !important;
  font-size: 1.0625em;
  box-shadow: 2px 2px 10px #666 !important;
}

.title-card {
  font-size: 22px;
  font-weight: 300;
  color: black;
}

::ng-deep .notification {
  background: #2A4365;
  color: white;
}
