<mat-dialog-content>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="table-responsive">
            <mat-table class="table" [dataSource]="dataSource">
              <ng-container matColumnDef="deliveryDate">
                <mat-header-cell *matHeaderCellDef class="cell-title">Fecha de entrega</mat-header-cell>
                <mat-cell *matCellDef="let assignment">
                  {{ assignment.delivery_date | date }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef class="cell-title">Status</mat-header-cell>
                <mat-cell *matCellDef="let assignment">
                  <span [class.is_deliveried]="assignment.status === 1"
                    [class.is_pending]="assignment.status === 0"
                    [class.is_cancelled]="assignment.status === 2">
                      {{ assignment.status === 1 ? 'Entregado' : assignment.status === 2 ? 'Cancelado' : 'Pendiente'}}
                    </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef class="cell-title">Opciones</mat-header-cell>
                <mat-cell *matCellDef="let assignment">
                  <button class="btn icon-button" [disabled]="assignment.status !== 0"
                    (click)="openDeliveryForm(true, assignment)">
                    <mat-icon matIcon svgIcon="pencil"></mat-icon>
                  </button>
                  <button class="btn icon-button" [disabled]="assignment.status !== 0"
                    (click)="cancelDelivery(assignment)">
                    <mat-icon matIcon svgIcon="cancel"></mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <tr>
                <mat-header-row *matHeaderRowDef="deliveryColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: deliveryColumns"></mat-row>
              </tr>
            </mat-table>
            <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30, 40, 50, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" id="button-container">
      <button class="btn back-button" [mat-dialog-close]="true">
        <span>Cerrar</span>
      </button>
    </div>
  </div>
</mat-dialog-actions>
