<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 mat-dialog-title>Información del empleado</h2>
  </div>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div id="description">
        <p><b>Nombre: </b>{{ employee.employee.name }} {{ employee.employee.paternal }} {{ employee.employee.maternal }}</p>
        <p><b>Telefóno: </b>{{ employee.employee.phone }}</p>
        <p><b>Usuario: </b>{{ employee.user ? employee.user.username : 'Sin usuario' }}</p>
        <p><b>Correo: </b>{{ employee.user ? employee.user.email : 'Sin correo' }}</p>
        <p><b>Rol: </b>{{ employee.role.name }}</p>
        <p><b>Dirección: </b>{{ employee.employee.address }}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12" id="button-container">
    <button class="btn main-button" [mat-dialog-close]="true">
      <span>Aceptar</span>
    </button>
  </div>
</div>
