<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 mat-dialog-title>Información del empleado</h2>
  </div>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div id="description">
        <p><b>Nombre: </b>Luis Lara García</p>
        <p><b>Telefóno: </b>8745251445</p>
        <p><b>Usuario: </b>Luis Lara</p>
        <p><b>Correo: </b>luisLara@gmail.com</p>
        <p><b>Rol: </b>Repartidor</p>
        <p><b>Dirección: </b>Calle Francia #456 Col. Europa</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12" id="button-container">
    <button class="btn main-button" [mat-dialog-close]="true">
      <span>Aceptar</span>
    </button>
  </div>
</div>
